@page
@model Client.Pages.Table.AddModel

<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">App/</li>
            <li class="breadcrumb-item-no-link">
                <a asp-page="Index">
                    Table/
                </a>
            </li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="title-form"> Add New Table</h1>
                </div>
                <div class="card-body">
                    <form class="mb-5" method="post">
                        <div class="d-flex align-items-center">
                            <div class="form-group mb-3 pb-3" style="flex:8; padding-left:10px">
                                <label class="font-w600">Table Number</label>
                                <input type="number" class="form-control solid" asp-for="@Model.TableAddDto.Number">
                                <br />
                                <span asp-validation-for="@Model.TableAddDto.Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12" style="position:relative">
                            <div class="mb-3 mb-0" style="position:absolute; right:0">
                                <input type="submit" value="Add" class="submit btn btn-primary" name="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
