@page
@model Client.Pages.Product.UpdateModel

<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">Setting/</li>
            <li class="breadcrumb-item-link">
                <a asp-page="./Index">
                    Product/
                </a>
            </li>
            <li class="breadcrumb-item active">Update</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="modal-body">
                    <div class="card-header">
                        <h4 class="card-title">Update Product</h4>
                    </div>
                    <div class="card-body">
                        <form class="comment-form" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Product Name<span class="required">*</span></label>
                                        <input type="text" class="form-control" asp-for="EditModel.Name">
                                        <span asp-validation-for="EditModel.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Image</label>
                                        <input type="file" class="form-control" asp-for="UploadImage">
                                        <span asp-validation-for="UploadImage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Unit Price</label>
                                        <input type="number" class="form-control" asp-for="EditModel.UnitPrice">
                                        <span asp-validation-for="EditModel.UnitPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Quantity Per Unit<span class="required">*</span></label>
                                        <input type="number" class="form-control" asp-for="EditModel.QuantityPerUnit">
                                        <span asp-validation-for="EditModel.QuantityPerUnit" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Category:<span class="required">*</span></label>
                                        <select asp-for="EditModel.CategoryId" class="default-select  form-control wide">
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="EditModel.CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Supplier:<span class="required">*</span></label>
                                        <select asp-for="EditModel.SupplierId" class="default-select  form-control wide">
                                            @foreach (var supplier in Model.Suppliers)
                                            {
                                                <option value="@supplier.Id">@supplier.SupplierName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="EditModel.SupplierId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">For Sell</label>
                                        <select asp-for="EditModel.ForSell" class="default-select  form-control wide">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="text-black font-w600 form-label">Available</label>
                                        <select asp-for="EditModel.IsAvailable" class="default-select  form-control wide">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <input asp-for="EditModel.Id" type="hidden" />
                                <div class="col-lg-12">
                                    <div class="mb-3 mb-0">
                                        <input type="submit" value="Update" class="submit btn btn-primary" name="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>