@page
@model Client.Pages.Category.AddModel
@{
}
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">Setting/</li>
            <li class="breadcrumb-item-no-link">
                <a asp-page="Index">
                    Category/
                </a>
            </li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="title-form"> Add New Category</h1>
                </div>
                <div class="card-body">
                    <form class="mb-5" enctype="multipart/form-data" method="post">
                        <div class="d-flex align-items-center">
                            <div class="avatar-upload" style="flex:2">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" asp-for="UploadImage">
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview-category">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3 pb-3" style="flex:8; padding-left:10px">
                                <label class="font-w600">Category Name</label>
                                <input type="text" class="form-control solid" asp-for="@Model.EditModel.Name">
                                <span asp-validation-for="EditModel.Name" class="text-danger"></span>
                                <br />
                                <label class="font-w600">Category Description</label>
                                <textarea rows="8" class="form-control solid" asp-for="EditModel.Description" placeholder="Description"></textarea>
                                <span asp-validation-for="EditModel.Description" class="text-danger"></span>
                            </div>
                        </div>
                                                        <input type="text" class="form-control solid" asp-for="@Model.EditModel.Image" hidden>
                                <input type="text" class="form-control solid" asp-for="@Model.EditModel.Id" hidden>
                        <div class="col-lg-12" style="position:relative">
                            <div class="mb-3 mb-0" style="position:absolute; right:0">
                                <input type="submit" value="Add" class="submit btn btn-primary" name="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var preview = document.getElementById('imagePreview-category');
            preview.style.backgroundImage = 'url(' + URL.createObjectURL(this.files[0]) + ')';
        });
    </script>
    @if(Model.EditModel.Id != null && Model.EditModel.Image != null)
    {
        <script>
            document.querySelector(".title-form").innerHTML = "Update";
            var preview1 = document.getElementById('imagePreview-category');
            preview1.style.backgroundImage = "url('@Url.Content("~/images/category/" + Model.EditModel.Image)')";
        </script>
    }
}