@page
@model Client.Pages.Category.AddModel
@{
}
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item-no-link">Setting/</li>
            <li class="breadcrumb-item-no-link">Category/</li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1> Add New Category</h1>
                </div>
                <div class="card-body">
                    <form class="mb-5" enctype="multipart/form-data">
                        <div class="d-flex align-items-center">
                            <div class="avatar-upload" style="flex:2">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" asp-for="@Model.EditModel.Image">
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview-category">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3 pb-3" style="flex:8; padding-left:10px">
                                <label class="font-w600">Category Name</label>
                                <input type="text" class="form-control solid" asp-for="@Model.EditModel.Name">
                                <br />
                                <label class="font-w600">Category Description</label>
                                <textarea rows="8" class="form-control solid" asp-for="EditModel.Description" placeholder="Description"></textarea>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            console.log("abc");
            var preview = document.getElementById('imagePreview-category');
            preview.style.backgroundImage = 'url(' + URL.createObjectURL(this.files[0]) + ')';
            console.log('url(' + URL.createObjectURL(this.files[0]) + ')');
        });
    </script>
}